<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>History Reservation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Poppins:wght@300;500;600;700&family=Princess+Sofia&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/reservation.css">
    <link rel="stylesheet" href="/css/history.css">
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</head>

<body>
    <div>
        <div class="sidebar pt-3 text-white" id="sidebar">
            <div class=" pe-5 ps-5">
                <div class="row">
                    <div class=" p-0">
                        <img src="/img/logo.png" class="img-fluid" alt="...">
                    </div>
                </div>
            </div>
            <li>
                <P class="fw-light fs-5  pe-5 ps-5">Hello, <span class="fw-bold" id="nameuser"></span> ! </P>
            </li>
            <li class="p-3 ps-4">
                <a class="text-white" href=" /manageTable">
                    <div class="">
                        <div class="row">
                            <div class="col-3">
                                <iconify-icon icon="mdi:desk" width="30"></iconify-icon>
                            </div>
                            <div class="col-9 ps-0 pt-1 text-start">
                                Manage Table
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="p-3 ps-4">
                <a class="pb-2 text-white" href="/manageMenu">
                    <div class="">
                        <div class="row">
                            <div class="col-3">
                                <iconify-icon icon="mdi:food" width="30"></iconify-icon>
                            </div>
                            <div class="col-9 ps-0 pt-1 text-start">
                                Manage Menu
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="p-3 ps-4 history">
                <a class="pb-2 text-white" href="/reservationAdmin">
                    <div class="">
                        <div class="row">
                            <div class="col-3">
                                <iconify-icon icon="iconamoon:history-bold" width="30"></iconify-icon>
                            </div>
                            <div class="col-9 ps-0 pt-1 text-start">
                                History
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="p-3 ps-4">
                <a class="pb-2 text-white " href="/profile">
                    <div class="">
                        <div class="row">
                            <div class="col-3">
                                <iconify-icon icon="iconamoon:profile-fill" width="30"></iconify-icon>
                            </div>
                            <div class="col-9 ps-0 pt-1 text-start">
                                Profile
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="p-3 ps-4">
                <a class="pb-2 text-white" href="/logout" id="btn-logout">
                    <div class="">
                        <div class="row">
                            <div class="col-3">
                                <iconify-icon icon="majesticons:logout" width="30"></iconify-icon>
                            </div>
                            <div class="col-9 ps-0 pt-1 text-start">
                                logout
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </div>
    </div>
    <form>
    <div class="p-4" id="main-content" style="margin-right: 4cm;">
        <div class="container p-5 m-5 mb-0">
            <div class="row">
                <h3 class="mb-5 fw-bold">Reservation Detail</h3>
                <div class="col">
                    <p class="fw-bold">Choosen Table</p>
                    <div class="col-3 mb-4">
                        <div class="card" style="width: 17rem;">
                            <img src="" class="card-img-top p-4 pb-0" alt="Foto Meja" id="foto">
                            <div class="card-body p-4">
                                <div class="">
                                    <div class="row">
                                        <div class="col fw-bold pb-2" id="numberTable">
                                            <!-- nomor meja -->
                                        </div>
                                        <div class="col text-end">
                                            
                                        </div>
                                    </div>
                                </div>
                                <p id="numberSeats">
                                    <!-- jumlah kursi -->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <div class="mb-3 w-75">
                        <label for="nama" class="form-label fw-bold mt-5">Customer's Name</label>
                        <p class="mb-4" id="nama"></p>
                    </div>
                    <div class="mb-3 w-75">
                        <label for="jumlah_orang" class="form-label fw-bold">Number Of Persons</label>
                        <p class="mb-4" id="jumlah_orang"></p>
                    </div>
                    <div class="mb-3 w-75">
                        <label for="tanggal_reservasi" class="form-label fw-bold">Reservation Date</label>
                        <p class="mb-4" id="date"></p>
                    </div>
                    <div class="mb-3 w-75">
                        <label for="tanggal_reservasi" class="form-label fw-bold">Status</label>
                        <br>
                        <span class="badge p-2" id="statusBadge"></span>
                    </div>
                </div>
            </div>
            <hr>
            <p class="fw-bold mt-4">Menu Ordered</p>
            <table class="table me-5 mt-4 text-center table-striped">
                <thead class="text-white">
                    <tr>
                        <td scope="col" class="col-1">No</td>
                        <td scope="col" class="col-3">Nama Menu</td>
                        <td scope="col" class="col-3">Price</td>
                        <td scope="col" class="col-2">Quantity</td>
                        <td scope="col" class="col-3">Total</td>
                    </tr>
                </thead>
                <tbody id="formTableBody">
                    <!-- tr data reservation -->
                </tbody>
            </table>
            <div class="text-oranye1 bg-oranye" style="border-radius: 8px; overflow: hidden;" id="grandTotalContainer">
                <table class="table me-5 mt-2 text-center table-borderless" >
                    <thead class="text-oranye1 bg-oranye fw-bold" style="height: 1cm; vertical-align: middle;">
                        <td scope="col" class="col-9" >Grand Total</td>
                        <td scope="col" class="col-3" id="grandTotal"></td>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', async function () {
            //Menampilkan username yg sedang login
           const response = await fetch('/getNama', {
                method: 'GET'
            });
            const data = await response.json();

            if (data.success) {
                const username = data.username;
                const usernameProfile = document.getElementById('nameuser');
                usernameProfile.textContent = `${username}`;
            } else {
                window.location.href = '/login';
            }

            //Mengambil id URL
            function idReservasiFromURL() {
                const url = window.location.href;
                const regex = /\/detailReservasiView\/(.+)$/;
                const match = url.match(regex);

                if (match && match[1]) {
                    return match[1];
                } else {
                    return null; 
                }
            }

            const reservasi = idReservasiFromURL()
            const grandTotalElement = document.getElementById("grandTotal");

            try {
                const response = await fetch(`/getDetailReservasi/${reservasi}`);
                const data = await response.json();

                const fotoMeja  = document.getElementById("foto");
                const numberTable = document.getElementById("numberTable");
                const numberSeats = document.getElementById("numberSeats");
                const jumlah_orang  = document.getElementById("jumlah_orang");
                const nama  = document.getElementById("nama");
                const date = document.getElementById("date");
                const statusBadge = document.getElementById("statusBadge");

                if (data.success) {
                    const detailReservasi = data.dataReservasi;
                    const detailNomorMeja = data.dataNomorMeja;
                    const detailPesanan = data.dataPesanan;
                    const dataDetailPesanan = data.dataDetailPesanan;

                    // Format tanggal dan jam 
                    const options = {
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric',
                    };

                    
                    const formattedDate = new Intl.DateTimeFormat('id-ID', options).format(new Date(detailReservasi.tanggal_reservasi));
                    const formattedStartTime = formatTime(detailReservasi.jam_mulai);
                    const formattedEndTime = formatTime(detailReservasi.jam_selesai);
                    
                    // Return data
                    fotoMeja.src = `/img/meja/${detailReservasi.foto_meja}`;
                    numberTable.innerHTML  = "Meja " + detailReservasi.nomor_meja;
                    numberSeats.textContent  = detailReservasi.jumlah_kursi + " Seats";
                    
                    jumlah_orang.innerText = detailReservasi.jumlah_orang +" people";
                    nama.innerText  = detailReservasi.full_name;
                    date.innerText = `${formattedDate} @ ${formattedStartTime} - ${formattedEndTime}`;
                    statusBadge.textContent = detailReservasi.status;

                    function formatTime(time) {
                        return new Intl.DateTimeFormat('id-ID', {
                            hour: 'numeric',
                            minute: 'numeric',
                            hour12: false,
                        }).format(new Date(`2023-01-01T${time}`));
                    }

                    statusBadge.classList.add("badge", "p-2");
                    if (detailReservasi.status.toLowerCase() === 'canceled') {
                        statusBadge.classList.add("bg-maroon", "text-white");
                    } else if (detailReservasi.status.toLowerCase() === 'completed') {
                        statusBadge.classList.add("bg-success", "text-white");
                    } else {
                        statusBadge.classList.add("bg-blue", "text-white");
                    }

                    const tableBody = document.getElementById("formTableBody");
                    tableBody.innerHTML = '';
                    
                    if (dataDetailPesanan && dataDetailPesanan.length > 0) {
                         dataDetailPesanan.forEach((menu, index) => {
                            if (menu.jumlah > 0) {
                                const tr = document.createElement("tr");
                                tableBody.appendChild(tr);

                                const no = document.createElement("td");
                                const namaMenu = document.createElement('td');
                                const price = document.createElement('td');
                                const quantity = document.createElement("td");
                                const total = document.createElement("td");

                                tr.appendChild(no);
                                tr.appendChild(namaMenu);
                                tr.appendChild(price);
                                tr.appendChild(quantity);
                                tr.appendChild(total);

                                no.innerText = index + 1;
                                namaMenu.innerText = menu.DataMenu.Nama_menu;
                                price.innerText = `Rp ${menu.DataMenu.harga_menu.toLocaleString()}`;
                                quantity.innerText = menu.jumlah;
                                total.innerText = `Rp ${(menu.total_harga_menu).toLocaleString()}`;
                            }
                        });
                        //Total Pesanan
                        const grandTotal = dataDetailPesanan.reduce((total, menu) => total + menu.total_harga_menu, 0);
                        grandTotalElement.innerText = `Rp ${grandTotal.toLocaleString()}`;
                    } else {
                        const tr = document.createElement("tr");
                        const td = document.createElement("td");

                        tr.appendChild(td);
                        td.setAttribute("colspan", "5");
                        td.innerText = "No items ordered.";

                        tableBody.appendChild(tr);

                        const grandTotalContainer = document.getElementById('grandTotalContainer');
                        grandTotalContainer.style.display = 'none'; 
                    }
                }
            } catch (error) {
                console.error('Error fetching reservation details:', error);
            }

            //Logout
            const btnLogout = document.getElementById('btn-logout');
            btnLogout.addEventListener('click', async function (event) {
                event.preventDefault();
                const confirmLogout = confirm("Are you sure want to logout from this web?");

                if (confirmLogout) {
                    try {
                        const response = await fetch('/logout', {
                            method: 'POST'
                        });
            
                        if (response.status === 200) {
                            window.location.href = '/login';
                        } else {
                            console.log('Logout failed');
                            location.reload();
                        }
                    } catch (error) {
                        console.log(error);
                    }
                }
            });
            
        })
    </script>
</body>

</html>
