<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>History Reservation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Poppins:wght@300;500;600;700&family=Princess+Sofia&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/history.css">
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</head>

<body>
    <div>
        <div class="sidebar pt-3 text-white" id="sidebar">
            <div class=" pe-5 ps-5">
                <div class="row">
                    <div class=" p-0">
                        <img src="/img/logo.png" class="img-fluid" alt="...">
                    </div>
                </div>
            </div>
            <li>
                <P class="fw-light fs-5  pe-5 ps-5">Hello, <span class="fw-bold" id="nameuser"></span> ! </P>
            </li>
            <li class="p-3 ps-4 available">
                <a class="text-white" href=" /manageTable">
                    <div class="">
                        <div class="row">
                            <div class="col-3">
                                <iconify-icon icon="mdi:desk" width="30"></iconify-icon>
                            </div>
                            <div class="col-9 ps-0 pt-1 text-start">
                                Manage Table
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="p-3 ps-4 history">
                <a class="pb-2 text-white" href="/reservationAdmin">
                    <div class="">
                        <div class="row">
                            <div class="col-3">
                                <iconify-icon icon="iconamoon:history-bold" width="30"></iconify-icon>
                            </div>
                            <div class="col-9 ps-0 pt-1 text-start">
                                History
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="p-3 ps-4">
                <a class="pb-2 text-white " href="/profile">
                    <div class="">
                        <div class="row">
                            <div class="col-3">
                                <iconify-icon icon="iconamoon:profile-fill" width="30"></iconify-icon>
                            </div>
                            <div class="col-9 ps-0 pt-1 text-start">
                                Profile
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="p-3 ps-4">
                <a class="pb-2 text-white" href="/logout" id="btn-logout">
                    <div class="">
                        <div class="row">
                            <div class="col-3">
                                <iconify-icon icon="majesticons:logout" width="30"></iconify-icon>
                            </div>
                            <div class="col-9 ps-0 pt-1 text-start">
                                logout
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </div>
    </div>
    <div class="p-4" id="main-content">
        <div class="div1 me-5 mt-5 ">
            <p class="fw-bold pb-4 ">History dan Pemesanan</p>
            <table class="table me-5 text-center table-striped ">
                <thead class="text-white">
                    <tr>
                        <td scope="col">No</td>
                        <td scope="col">Name</td>
                        <td scope="col">Reservation Date</td>
                        <td scope="col">Reservation Time</td>
                        <td scope="col">Number of Table</td>
                        <td scope="col">Number of People</td>
                        <td scope="col">Status</td>
                        <td scope="col">Action</td>
                    </tr>
                </thead>
                <tbody class="text-center " id="formTableBody">
                    <!-- tr data reservation -->
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", async function () {
            //Menampilkan username yg sedang login
           const response = await fetch('/getNama', {
                method: 'GET'
            });
            const data = await response.json();

            if (data.success) {
                const username = data.username;
                const usernameProfile = document.getElementById('nameuser');
                usernameProfile.textContent = `${username}`;
            } else {
                window.location.href = '/login';
            }
            
            //Menampilkan data reservasi
            const tbody = document.getElementById("formTableBody");
            try{
                const response = await fetch('/reservation-history')
                const data = await response.json();

                if(data.success == true){
                    const dataReservations = data.data;
                    console.log(dataReservations)
                    var i = 1;
                    
                    dataReservations.forEach((dataReservation) => {
                        const tr = document.createElement("tr");
                        tbody.appendChild(tr);

                        const no = document.createElement("td")
                        const fullName = document.createElement('td')
                        const reservationDate = document.createElement('td')
                        const reservationTime = document.createElement("td")
                        const numberTable = document.createElement("td")
                        const amountPeople = document.createElement("td")
                        const status = document.createElement("td")
                        const action = document.createElement("td")

                        tbody.appendChild(tr)
                        tr.appendChild(no)
                        tr.appendChild(fullName)
                        tr.appendChild(reservationDate)
                        tr.appendChild(reservationTime)
                        tr.appendChild(numberTable)
                        tr.appendChild(amountPeople)
                        tr.appendChild(status)
                        tr.appendChild(action)

                        no.setAttribute('scope', 'row')

                        no.innerHTML = i;
                        fullName.innerHTML = dataReservation.full_name
                        if( dataReservation.tanggal_reservasi === "0000-00-00") {
                            reservationDate.innerHTML = " - " 
                        } else {
                            reservationDate.innerHTML = dataReservation.tanggal_reservasi
                        }
                        
                        if (dataReservation.jam_mulai === "00:00:00" && dataReservation.jam_selesai === "00:00:00"){
                            reservationTime.innerHTML = " - " 
                        } else{
                            reservationTime.innerHTML = dataReservation.jam_mulai + " - " + dataReservation.jam_selesai
                        }
                        numberTable.innerHTML = " Table " + dataReservation.nomor_meja
                        amountPeople.innerHTML = dataReservation.jumlah_orang + "  People"
                         //btn status
                         const statusBedge = document.createElement("span")
                        statusBedge.classList.add("badge", "p-2")
                        statusBedge.textContent = dataReservation.status
                        status.appendChild(statusBedge);
                        if (dataReservation.status.toLowerCase() === 'canceled') {
                            statusBedge.classList.add("bg-maroon", "text-white");
                            statusBedge.style.backgroundColor = "maroon"
                        } else if (dataReservation.status.toLowerCase() === 'completed') {
                            statusBedge.classList.add("bg-success", "text-white");
                        } else {
                            statusBedge.classList.add("bg-blue", "text-white");
                        }
                        i++;

                        const buttonContainer = document.createElement("div");
                        buttonContainer.classList.add("row", "w-100", "d-flex", "justify-content-center");

                        const editBtn = document.createElement("a")
                        editBtn.classList.add("col-3");
                        const doneBtn = document.createElement("a")
                        doneBtn.classList.add("col-3");
                        const rejectBtn = document.createElement("a")
                        rejectBtn.classList.add("col-3");

                        editBtn.classList.add("btn", "btn-warning", "btn-sm", "pe-4", "ps-4");
                        editBtn.innerHTML = "Edit";
                        editBtn.style.marginRight = "8px";
                        buttonContainer.appendChild(editBtn)
                        editBtn.addEventListener('click', function() {
                            window.location.href = '/editReservationView/' + dataReservation.id_reservasi;
                        });

                        doneBtn.setAttribute('data-id', dataReservation.id_reservasi);
                        doneBtn.classList.add("btn", "btn-success", "doneBtn", "btn-sm", "pe-4", "ps-4");
                        doneBtn.innerHTML = "Done";
                        doneBtn.style.marginRight = "8px";
                        buttonContainer.appendChild(doneBtn);

                        rejectBtn.setAttribute('data-id', dataReservation.id_reservasi);
                        rejectBtn.classList.add("btn", "btn-danger", "rejectBtn", "btn-sm", "pe-4", "ps-4");
                        rejectBtn.innerHTML = "Reject ";
                        rejectBtn.style.marginRight = "8px";
                        buttonContainer.appendChild(rejectBtn);

                        action.appendChild(buttonContainer);
                    });
                }
            } catch (error) {
            console.log(error);
            }

            //Action done reservation
            const btnDone = document.getElementsByClassName("doneBtn")
            console.log(btnDone);

            for (let i = 0; i < btnDone.length; i++) {
                btnDone[i].addEventListener('click', async function () {
                    const id_reservasi = btnDone[i].getAttribute('data-id')
                    console.log(id_reservasi)

                    const response = await fetch(`/done/${id_reservasi}`, {
                        method: 'GET'
                    }); 
                    const data = await response.json();

                    if (data.success == true) {
                        alert(data.message)
                        location.reload()
                    } else if (data.success == false) {
                        alert(data.message)
                    }
                })
            }

            //Action reject reservation
            const btnReject = document.getElementsByClassName("rejectBtn")
            console.log(btnReject);

            for (let i = 0; i < btnReject.length; i++) {
                btnReject[i].addEventListener('click', async function () {
                    const id_reservasi = btnReject[i].getAttribute('data-id')
                    console.log(id_reservasi)

                    const response = await fetch(`/reject/${id_reservasi}`, {
                        method: 'GET'
                    }); 
                    const data = await response.json();

                    if (data.success == true) {
                        alert(data.message)
                        location.reload()
                    } else if (data.success == false) {
                        alert(data.message)
                    }
                })
            }

            //Logout
            const btnLogout = document.getElementById('btn-logout');
            btnLogout.addEventListener('click', async function (event) {
                event.preventDefault();
                const confirmLogout = confirm("Are you sure want to logout from this web?");

                if(confirmLogout) {
                    try {
                        const response = await fetch('/logout', {
                            method: 'POST'
                        });
                        const data = await response.json();

                        if (data.success) {
                            window.location.href = '/login';
                        } else {
                            console.log(data.message);
                            location.reload();
                        }
                    } catch (error) {
                        console.log(error);
                    }
                }
            });

        });
    </script>
</body>

</html>