<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ordered History</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Poppins:wght@300;500;600;700&family=Princess+Sofia&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/reservation.css">
    <link rel="stylesheet" href="/css/history.css">
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</head>

<body>
    <div>
        <div class="sidebar pt-3 text-white" id="sidebar">
            <div class=" pe-5 ps-5">
                <div class="row">
                    <div class=" p-0">
                        <img src="/img/logo.png" class="img-fluid" alt="...">
                    </div>
                </div>
            </div>
            <li>
                <P class="fw-light fs-5  pe-5 ps-5">Hello, <span class="fw-bold" id="nameuser"></span> ! </P>
            </li>
            <li class="p-3 ps-4 ">
                <a class="text-white" href=" /manageTable">
                    <div class="">
                        <div class="row">
                            <div class="col-3">
                                <iconify-icon icon="mdi:desk" width="30"></iconify-icon>
                            </div>
                            <div class="col-9 ps-0 pt-1 text-start">
                                Manage Table
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="p-3 ps-4">
                <a class="pb-2 text-white" href="/manageMenu">
                    <div class="">
                        <div class="row">
                            <div class="col-3">
                                <iconify-icon icon="mdi:food" width="30"></iconify-icon>
                            </div>
                            <div class="col-9 ps-0 pt-1 text-start">
                                Manage Menu
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="p-3 ps-4 history">
                <a class="pb-2 text-white" href="/reservationAdmin">
                    <div class="">
                        <div class="row">
                            <div class="col-3">
                                <iconify-icon icon="iconamoon:history-bold" width="30"></iconify-icon>
                            </div>
                            <div class="col-9 ps-0 pt-1 text-start">
                                History
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="p-3 ps-4">
                <a class="pb-2 text-white " href="/profile">
                    <div class="">
                        <div class="row">
                            <div class="col-3">
                                <iconify-icon icon="iconamoon:profile-fill" width="30"></iconify-icon>
                            </div>
                            <div class="col-9 ps-0 pt-1 text-start">
                                Profile
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="p-3 ps-4">
                <a class="pb-2 text-white" href="/logout" id="btn-logout">
                    <div class="">
                        <div class="row">
                            <div class="col-3">
                                <iconify-icon icon="majesticons:logout" width="30"></iconify-icon>
                            </div>
                            <div class="col-9 ps-0 pt-1 text-start">
                                logout
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </div>
    </div>
    <div class="p-4" id="main-content">
        <div class="container" id="nav">
            <ul class="nav nav-tabs justify-content-center text-center">
                <li class="nav-item">
                    <a class="nav-link text-oranye " aria-current="page" href="/reservationAdmin">Reservation History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-oranye active" href="/allDataPesanan">Order History</a>
                </li>
            </ul>
        </div>

        <div class="container me-3 mt-5">
            <h5 class="fw-bold pb-2 ">Delivery Ordered History</h5>
            <p class="fw-light pb-4 ">Manage your delivery ordered</p>
            <table class="table me-5 text-center table-striped">
                <thead class="text-white">
                    <tr>
                        <td scope="col" class="col-1">No</td>
                        <td scope="col" class="col-3">Customer's Name</td>
                        <td scope="col" class="col-2">Total Price</td>
                        <td scope="col" class="col-2">Order Date</td>
                        <td scope="col" class="col-2">Order Time</td>
                        <td scope="col" class="col-2">Action</td>
                    </tr>
                </thead>
                <tbody id="formTableBody">
                    <!-- tr data reservation -->
                </tbody>
            </table>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", async function () {
            //Menampilkan username yg sedang login
           const response = await fetch('/getNama', {
                method: 'GET'
            });
            const data = await response.json();

            if (data.success) {
                const username = data.username;
                const usernameProfile = document.getElementById('nameuser');
                usernameProfile.textContent = `${username}`;
            } else {
                window.location.href = '/login';
            }

            // Return data 
            const tbody = document.getElementById("formTableBody");
            try{
                const response = await fetch('/dataPesanan')
                const data = await response.json();

                if(data.success == true){
                    const dataPesanan = data.dataPesanan;
                    var i = 1;
                    
                    dataPesanan.forEach((pesanan, index) => {
                        const tr = document.createElement("tr");
                        tbody.appendChild(tr);

                        const no = document.createElement("td")
                        const customer = document.createElement('td')
                        const totalHarga = document.createElement('td')
                        const tanggalOrder = document.createElement('td')
                        const jamOrder = document.createElement("td")
                        const action = document.createElement("td")

                        tbody.appendChild(tr)
                        tr.appendChild(no)
                        tr.appendChild(customer)
                        tr.appendChild(totalHarga)
                        tr.appendChild(tanggalOrder)
                        tr.appendChild(jamOrder)
                        tr.appendChild(action)

                        const createdAt = new Date(pesanan.created_at);
                        const formattedDate = createdAt.toLocaleDateString('en-US', { day: 'numeric', month: 'long', year: 'numeric' });
                        const formattedTime = createdAt.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', hour12: true });

                        no.setAttribute('scope', 'row')
                        no.innerHTML = i;
                        customer.innerText = pesanan.DataUser.full_name;
                        totalHarga.innerText = `Rp ${pesanan.total_harga.toLocaleString()}`;
                        tanggalOrder.innerText = formattedDate;
                        jamOrder.innerText = formattedTime;
                        i++;
                    
                        const detailButton= document.createElement("button")
                        const detailIcon = document.createElement("iconify-icon");

                        action.appendChild(detailButton)
                        detailButton.setAttribute('data-id', pesanan.id_pesanan);
                        detailButton.classList.add("btn", "btn-primary", "btnDetail");
                        detailButton.innerHTML = '<iconify-icon icon="iconoir:menu"></iconify-icon> Details' ;
                        detailIcon.style.color = "white";
                        detailButton.appendChild(detailIcon);
                    });
                } else {
                    alert(data.message);
                }
            } catch (error) {
                console.log(error);
            }

            //Details Reservasi
            const detailButtons = document.querySelectorAll('.btnDetail');
            detailButtons.forEach((detailButton) => {
                detailButton.addEventListener('click', async (event) => {
                    const id_pesanan  = event.target.getAttribute('data-id');
                    window.location.href = `/pesananDetail/${id_pesanan}`;
                    
                })
            });

            //Logout
            const btnLogout = document.getElementById('btn-logout');
            btnLogout.addEventListener('click', async function (event) {
                event.preventDefault();
                const confirmLogout = confirm("Are you sure want to logout from this web?");

                if (confirmLogout) {
                    try {
                        const response = await fetch('/logout', {
                            method: 'POST'
                        });
            
                        if (response.status === 200) {
                            window.location.href = '/login';
                        } else {
                            console.log('Logout failed');
                            location.reload();
                        }
                    } catch (error) {
                        console.log(error);
                    }
                }
            });

        })
    </script>
</body>

</html>
