body {
    font-family: 'Inter', sans-serif;
}

.btn-login {
    background-color: #E17E37;
}

.content{
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 25%;
    
}
