body{
    background-color: #E9E9E9;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
    margin: 20px 0 20px 0;
}

a {
    text-decoration: none;
}

.sidebar {
    width: 264px;
    height: 100vh;
    position: fixed;
    background-color: #126550;
}

#main-content {
    margin-left: 330px;
}

.profile{
    background-color: #325446;
}

.btn-profile{
    background-color: #E17E37;
}

.content{
    margin-top: 5%;
}

.bg-profile{
    background-color: #325446;
}
