<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Update Table</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Poppins:wght@300;500;600;700&family=Princess+Sofia&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/table.css">
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</head>

<body>
    <div>
        <div class="sidebar pt-3 text-white" id="sidebar">
            <div class=" pe-5 ps-5">
                <div class="row">
                    <div class=" p-0">
                        <img src="/img/logo.png" class="img-fluid" alt="...">
                    </div>
                </div>
            </div>
            <li>
                <P class="fw-light fs-5  pe-5 ps-5">Hello, <span class="fw-bold" id="username"></span> ! </P>
            </li>
            <li class="p-3 ps-4 ">
                <a class="text-white" href=" /manageTable">
                    <div class="">
                        <div class="row">
                            <div class="col-3">
                                <iconify-icon icon="mdi:desk" width="30"></iconify-icon>
                            </div>
                            <div class="col-9 ps-0 pt-1 text-start">
                                Manage Table
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="p-3 ps-4 available">
                <a class="pb-2 text-white " href="/manageMenu">
                    <div class="">
                        <div class="row">
                            <div class="col-3">
                                <iconify-icon icon="mdi:food" width="30"></iconify-icon>
                            </div>
                            <div class="col-9 ps-0 pt-1 text-start">
                                Manage Menu
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="p-3 ps-4">
                <a class="pb-2 text-white" href="/reservationAdmin">
                    <div class="">
                        <div class="row">
                            <div class="col-3">
                                <iconify-icon icon="iconamoon:history-bold" width="30"></iconify-icon>
                            </div>
                            <div class="col-9 ps-0 pt-1 text-start">
                                History
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="p-3 ps-4">
                <a class="pb-2 text-white" href="/profile">
                    <div class="">
                        <div class="row">
                            <div class="col-3">
                                <iconify-icon icon="iconamoon:profile-fill" width="30"></iconify-icon>
                            </div>
                            <div class="col-9 ps-0 pt-1 text-start">
                                Profile
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="p-3 ps-4">
                <a class="pb-2 text-white" href="/logout" id="btn-logout">
                    <div class="">
                        <div class="row">
                            <div class="col-3">
                                <iconify-icon icon="majesticons:logout" width="30"></iconify-icon>
                            </div>
                            <div class="col-9 ps-0 pt-1 text-start">
                                logout
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </div>
    </div>
    <div class="p-4" id="main-content">
        <div class="container m-5">
            <div class="w-50 content">
                <p class="fw-bold fs-1">Update Menu</p>
                <p class="fw-light">Update your menu.</p>
                <form class="">
                    <div class="mb-4">
                        <label for="photo" class="form-label fw-bold">Menu's Photo </label>
                        <input type="file" class="form-control" id="photo">
                    </div>
                    <div class="col">
                        <div class="mb-4">
                            <label for="menuName" class="form-label fw-bold">Menu's Name</label>
                            <input type="text" class="form-control" id="menuName">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-4">
                            <label for="menuPrice" class="form-label fw-bold">Menu's Price</label>
                            <input type="number" class="form-control" id="menuPrice">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-4">
                            <label for="status" class="form-label fw-bold">Status</label>
                            <select class="form-select form-label" aria-label="Default select example" id="status">
                                <option selected>Open this select status</option>
                                <option value="Available" id="status">Available</option>
                                <option value="Unavailable" id="status">Unavailable</option>
                            </select>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-light btn-add text-white pe-3 ps-3 mt-2 w-50">Update Menu</button>
            </form>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", async function () {
            //Menampilkan username yg sedang login
            const response = await fetch('/getNama', {
                method: 'GET'
            });
            const data = await response.json();

            if (data.success) {
                const username = data.username;
                const usernameProfile = document.getElementById('username');
                usernameProfile.textContent = `${username}`;
            } else {
                window.location.href = '/login';
            }

            //Mengambil id meja dari URL
            function idMenuFromURL() {
                const url = window.location.href;
                const regex = /\/editMenuView\/(.+)$/;
                const match = url.match(regex);

                if (match && match[1]) {
                    return match[1];
                } else {
                    return null; 
                }
            }

            //Menampilkan data meja yang akan diedit
            const id_menu = idMenuFromURL()
            try {
                const response = await fetch(`/detailMenu/${id_menu}`);
                const data = await response.json();

                if (data.success) {
                    const dataMenu = data.data;
                    document.getElementById("menuName").value = dataMenu.nama_menu;
                    document.getElementById("menuPrice").value = dataMenu.harga_menu;
                    document.getElementById("status").value = dataMenu.status;
                } else {
                    alert(data.message);
                }
            } catch (error) {
                console.error(error);
            }

            //Menyimpan pengeditan data menu
            const form = document.querySelector('form');
            form.addEventListener('submit', async (event) => {
                event.preventDefault();

                const menuName = document.getElementById('menuName').value;
                const menuPrice = document.getElementById('menuPrice').value;
                const status = document.getElementById('status').value;
                const file = document.getElementById('photo');

                const formData = new FormData();
                formData.append('nama_menu', menuName);
                formData.append('harga_menu', menuPrice);
                formData.append('status', status);
                formData.append('file', file.files[0]);

                const response = await fetch('/editMenu/' +
                    id_menu, {
                        method: 'POST',
                        body: formData
                    });

                const data = await response.json();

                if (data.success == true) {
                    alert(data.message);
                    window.location.href = '/manageMenu';
                } else if (data.success == false) {
                    alert(data.message);
                }
            });

            //Logout
            const btnLogout = document.getElementById('btn-logout');
            btnLogout.addEventListener('click', async function (event) {
                event.preventDefault();
                const confirmLogout = confirm("Are you sure want to logout from this web?");

                if(confirmLogout) {
                    try {
                        const response = await fetch('/logout', {
                            method: 'POST'
                        });
                        const data = await response.json();

                        if (data.success) {
                            window.location.href = '/login';
                        } else {
                            console.log(data.message);
                            location.reload();
                        }
                    } catch (error) {
                        console.log(error);
                    }
                }
            });
            
        })
    </script>
</body>

</html>